body{
    margin: 0;
    font-family: "le-monde-livre-classic-byol", serif;
    font-weight: 300;
    font-style: normal; 
    background-color: rgb(209, 190, 162);
}

nav{
    top: 0;
    right: 0;
    left: 0;
    position: sticky;
}

h1{
    display: flex;
    justify-content: center;
}

ul{
    list-style: none; /*removes bullets*/
    display: flex;
    background-color: rgb(64, 2, 2);
    margin:0;
    padding: 10px;
    justify-content: flex-end;
}

li a{
    text-decoration: none;
    color: white;
    padding: 10px 30px; /*first value: top/bottom, second value: sleft right*/
    transition: color 1s;
}

li a:hover{
    background-color: rgb(139, 61, 61);
}

li a:active{
    background-color:white;
    color: black;
}

#top{
    display: flex;
}

#contact{
    padding: 1em;
}

#Mission{
    display: flex;
    justify-content: center;

}

h3{
    display: flex;
    justify-content: center;
    background-color:rgb(117, 99, 72);
    color: white;
}

#corevalues{
    display: grid;
}

.items{
    justify-items: center;
    padding: 1em;
}

#excellence{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

#sustainability{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

#innovation{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1; 
}

#community{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

#diversity{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

@media screen and (max-width: 800px){
    ul{
        flex-direction: column;
        align-items: center;
    }

    .grid{
        flex-direction: column;
    }

    li a:hover{
        padding: 0px 10px;
    }
}