body{
    margin: 0;
    font-family: "le-monde-livre-classic-byol", serif;
    font-weight: 300;
    font-style: normal; 
    background-color: rgb(209, 190, 162);
}

.navigation ul{
    list-style: none; /*removes bullets*/
    display: flex;
    background-color: black;
    margin:0;
    padding: 10px;
    justify-content: flex-end;
} 

.navigation li a{
    text-decoration: none;
    color: white;
    padding: 10px 30px; /*first value: top/bottom, second value: sleft right*/
    transition: color 1s, font-size 1s;
}

.navigation li a:hover{
    background-color: darkslateblue;
    font-size:30px;
}

.navigation li a:active{
    background-color:white;
    color: black;
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main main main'
    'menu footer footer footer footer footer';
  gap: 20px;
  padding: 20px;
}

.grid-container > div {
  background-color: rgb(209, 190, 162);
  text-align: left;
  padding: 30px 0;
  font-size: 30px;
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 18px;
    font-family: "le-monde-livre-classic-byol", serif;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  p{
    font-size: 18px;
  }

  .dropdown li{
    font-size: 18px;
  }
