body{
    margin: 0;
    font-family: Helvetica, Sans-Serif;
}

h1{
    display:flex;
    justify-content: center;
    background-image: url("/mountain.PNG");
    color: white;
    height: 5em;
}

ul{
    list-style: none; /*removes bullets*/
    display: flex;
    background-color: black;
    margin:0;
    padding: 10px;
    justify-content: flex-end;
}

li a{
    text-decoration: none;
    color: white;
    padding: 10px 30px; /*first value: top/bottom, second value: sleft right*/
    transition: color 1s, font-size 1s;
}

li a:hover{
    background-color: darkslateblue;
    font-size:30px;
}

li a:active{
    background-color:white;
    color: black;
}
