body{
    margin: 0;
    font-family: "le-monde-livre-classic-byol", serif;
    font-weight: 300;
    font-style: normal; 
    background-color: rgb(209, 190, 162);
}

h1{
    color: black;
    display:flex;
    justify-content: center;
}

ul{
    list-style: none; /*removes bullets*/
    display: flex;
    background-color: rgb(64, 2, 2);
    margin:0;
    padding: 10px;
    justify-content: flex-end;
}

li a{
    text-decoration: none;
    color: white;
    padding: 10px 30px; /*first value: top/bottom, second value: sleft right*/
    transition: color 1s, font-size 1s;
}

li a:hover{
    background-color: rgb(139, 61, 61);
    font-size:30px;
}

li a:active{
    background-color:white;
    color: black;
}

.header{
    display: flex;
    justify-content: center;
}

#header1{
    background-image: url("../header1.jpg");
}

#header2{
    background-image: url("../header2.jpg");
}

.header-text{
  font-weight:bold;
  margin: 2em;
  background-color: rgba(255,255,255, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(50% - 2em);
}

.grid{
    display: flex;
    margin: 2em;
    justify-content: space-around;
}

@media screen and (max-width: 800px){
    ul{
        flex-direction: column;
    }

    .grid{
        display: column;
        margin: 1em;
    }
    li a{
        width: 100vw;
        padding: 10px 30px;
    }

    li:hover{
        background-color: red;
    }
}

