body{
    margin: 0;
    font-family: "le-monde-livre-classic-byol", serif;
    font-weight: 300;
    font-style: normal; 
    background-color: rgb(209, 190, 162);

}

nav{
    top: 0;
    right: 0;
    left: 0;
    position: sticky;
}

ul{
    list-style: none; 
    display: flex;
    justify-content: flex-end;
    background-color: rgb(64, 2, 2);
    margin:0;
    padding: 10px;
}

li a{
    text-decoration: none;
    color: white;
    padding: 10px 30px; 
    transition: color 1s;
}

li a:hover{
    background-color: rgb(139, 61, 61);
}

li a:active{
    background-color:white;
    color: black;
}

h1 {
    background-color:rgb(117, 99, 72);
}

.flex-container {
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: space-around;
    margin: 0; /* Remove margin if you want full-bleed elements */
    padding: 0; /* Remove padding to avoid inner spacing */
    width: 100%;
}
h2 {
    background-color: rgb(117, 99, 72); 
    margin: 0; /* No margin to prevent any space */
    padding: 10px 50px; /* Adjust as needed for top/bottom padding */
    width: 100vw; /* Full width of the viewport */
    box-sizing: border-box;
}
p {
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: 50px;
}
h5 {
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: 50px;
}
#images {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: 50px;
}

@media screen and (max-width: 400px){
    ul{
        flex-direction: column;
        align-items: center;
    }

    li a:hover{
        padding: 0px 10px;
    }

    #images{
        width: 100%;
    }
}

@media screen and (max-width: 1600px) and (min-width: 400px){
    #images{
        width: 10%;
    }

    h1{
        display:flex;
        justify-content: center;
      }
}
